:root {
  --text: #f5f5f5;
  --background: #36454F;
  --navbar: #6495ED;
  --navbar-hover: #6F8FAF;
  --project-tile: #7393B3;
  --project-rounding: 5px;
  --big-heading: 5rem;
  --small-heading: 3.2rem;
  --big-text: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FONT-BASED RESPONSIVE SIZING */

/* FROM https://personal-portfolio.freecodecamp.rocks/ styles.css */
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

/* FROM https://personal-portfolio.freecodecamp.rocks/ styles.css */
/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/
/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* BASE STYLES */
body {
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.2;
  color: var(--text);
  background-color: var(--background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
}

#page-wrapper {
  position: relative;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* -- NAV BAR -- */
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--navbar);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

#navlist {
  display: flex;
  margin-right: 2rem;
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  #navbar {
    justify-content: center;
  }

  #navlist {
    margin: 0 1rem;
  }
}

.navlistitem {
  display: block;
  font-size: var(--big-text);
  padding: 2rem;
}

.navlistitem:hover {
  background: var(--background);
}

/* -- WELCOME SECTION -- */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top right, var(--background), #181719);
}

#welcome-heading {
  font-size: var(--big-heading);
}

/* 351px / 16px = 21.94em */
/* Keep welcome section (heading) from being hidden by navbar  */
@media (max-width: 28.75em) {
  #welcome-section {
    padding-top: 5rem;
  }
}

.welcome-copy {
  font-size: var(--big-text);
  font-weight: 200;
  font-style: italic;
  color: var(--navbar);
}

/* -- PROJECTS SECTION -- */
#projects {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(to bottom right, var(--background), #181719);
}

#projects-heading {
  font-size: var(--small-heading);
  max-width: 640px;
  margin: 0 auto 2rem auto;
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  #projects-heading {
    font-size: 3rem;
  }
}

/* See https://css-tricks.com/snippets/css/complete-guide-grid/ */
#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 4rem auto;
}

/* 490px / 16px = 30.625em */
@media (max-width: 30.625em) {
  #projects {
    padding: 6rem 1rem;
  }

  #projects-grid {
    grid-template-columns: 1fr;
  }
}

.project-tile {
  background: var(--background);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: var(--project-rounding);
}

.project-tile:hover {
  background-color: var(--navbar);
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.project-image {
  display: block;
  height: calc(100% - 6.8rem);
  width: 100%;
  /* Note: cover object fit may be needed if "skinny" images */
  /* object-fit: cover; */
  border-radius: var(--project-rounding);
}

.btn-all-projects {
  font-size: var(--big-text);
  background: var(--background);
  transition: background 0.3s ease-out;
}

.btn-all-projects:hover {
  background: var(--navbar);
}

.btn-all-projects > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-all-projects:hover > i {
  transform: translateX(2px);
}

/* -- CONTACTS SECTION -- */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: linear-gradient(to top right, var(--background), #181719);
}

#contact-heading {
  font-size: var(--big-heading)
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  #contact-heading {
    font-size: 3rem;
  }
}

#contact-links {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.contact-details {
  font-size: var(--big-text);
  /* text-shadow: 2px 2px 1px #1f1f1f; */
  text-shadow: 2px 2px 1px #899499;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(5px);
}

/* -- FOOTER -- */
footer {
  border-top: 4px solid var(--navbar);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: linear-gradient(to bottom right, var(--background), #181719);
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

.disclaimer {
  margin: 2rem;
  font-weight: 300;
  font-style: italic;
}

.disclaimer-link {
  /* Must set display to block type to transform
     See https://stackoverflow.com/questions/4919963/css3-transform-not-working]
  */
  display: inline-block;
  transition: transform 0.3s ease-out;
}

.disclaimer-link:hover {
  color: var(--navbar);
  transform: translateY(5px);
}
